h1 { color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

p { color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 15px; }


.dynamicCard{

text-align: center;
font-weight: bold;
font-size: smaller;
padding-top: 15px;
width: 200px;
height: 200px;
background: lightblue;
color: white;
}

.userText{
height: 50px;
width: 200px;
font-size: 15px;

}